<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitar seguro</title>
    <link rel="stylesheet" href="static/Seguro/services.css">
    <link rel="stylesheet" href="/static/format.css">
    <link rel="stylesheet" href="./public/css/dashboardStyles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" </head>
</head>

<body>

    <header class="header">
        <div class="container2 header__container">
            <div class="header__logo">
                <img class="header__img" src="https://image.ibb.co/kcVou6/path3000.png" />
                <h1 class="header__title">
                    Banca<span class="header__light"> Facil</span>
                </h1>
            </div>
        </div>
    </header>

    <div class="container__nav">
        <div class="section1">
            <div class="subsec1">
                <div class="item0">
                    <i class="img bi bi-person-circle"></i>
                    <div class="data-user">
                        <p class="name"><%= usuario[0].nombre %></p>
                    </div>
                </div>
                <div class="item1" id="item">
                    <i class="inactive bi bi-house"></i>
                    <a href="/perfil" class="inactive">Inicio</a>
                </div>
                <div class="item1 id=" item"">
                    <i class="inactive bi bi-credit-card"></i>
                    <a href="/pagos" class="inactive">Pagos</a>
                </div>
                <div class="item1" id="item">
                    <i class="inactive bi bi bi-cash-coin"></i>
                    <a href="/depositar" class="inactive">Depósitos</a>
                </div>
                <div class="item1" id="item">
                    <i class="inactive bi bi-bank"></i>
                    <a href="/retirar" class="inactive">Retiros</a>
                </div>
                <div class="item1" id="item">
                    <i class="active bi bi-lungs"></i>
                    <a href="/seguro" class="active">Seguro</a>
                </div>
                <div class="item1" id="item">
                    <i class="inactive bi bi-gear"></i>
                    <a href="/config" class="inactive">Configuración</a>
                </div>
            </div>
            <div class="subsec2">
                <div class="item2">
                    <i class="inactive bi bi-box-arrow-left"></i>
                    <a href="/logout" class="inactive">Cerrar sesión</a>
                </div>
            </div>
        </div>

        <div class="container__seguro">
            <!--En caso de NO tener un seguro-->
            
            <% if(servicioSeguro.rows.length === 0 ){ %>
            <h1>Solicita un seguro</h1>
            <form action="/solicitudSeguro" method="post" id="seguro-form">
                <label for="nombre">Tu nombre:</label>
                <input class="txt" type="text" id="nombre" name="nombre" readonly value="<%= usuario[0].nombre + ' ' +usuario[0].apellido %>">

                <label for="rangoIngreso">Elige tu rango de ingreso mensual:</label>
                <select class="txt" id="rangoIngreso" name="rangoIngreso" required>
                    <option value="0-20000">De 0 a 20,000 MXN</option>
                    <option value="20001-50000">De 20,001 a 50,000 MXN</option>
                    <option value="50001+">Mayor a 50,000 MXN</option>
                </select>
                
                <div class="checkbox-container">
                    <label for="enfermedad1">Diabetes, hipertensión arterial u obesidad mórbida.</label>
                    <input class="checkbox" type="checkbox" id="enfermedad1" name="enfermedades" value="diabetes">
                </div>
                
                <div class="checkbox-container">
                    <label for="enfermedad2">Cáncer, tumores malignos, leucemia o lupus.</label>
                    <input class="checkbox" type="checkbox" id="enfermedad2" name="enfermedades" value="cancer">
                </div>
                
                <div class="checkbox-container">
                    <label for="enfermedad3">Insuficiencia hepática, cirrosis hepática, hepatitis B o C, insuficiencia
                        renal o pancreatitis.</label>
                    <input class="checkbox" type="checkbox" id="enfermedad3" name="enfermedades" value="insuficiencia">
                </div>
                
                <div class="checkbox-container">
                    <label for="enfermedad4">Enfisema, bronquitis, tuberculosis, enfermedad pulmonar obstructiva crónica
                        (EPOC) o enfermedades infecciosas relacionadas al aparato respiratorio</label>
                    <input class="checkbox" type="checkbox" id="enfermedad4" name="enfermedades" value="pulmonar">
                </div>

                <div class="pago__seguro">
                    <h2>Resumen de compra</h2>
                    <p>Total anual: <span id="totalAnual"></span> MXN</p>
                    <p>Quedas protegido por <span id="proteccion">500,000</span> MXN</p>
                </div>
                <button class="btns btns--inside uppercase" type="submit">Comprar seguro</button>
            </form>
            <p id="mensaje"></p>
            <!--En caso de SI tener seguro-->
            
            <% } else if (servicioSeguro.rows.length > 0 && servicioSeguro.rows[0].nombredeservicio === 'Seguro de vida') { %>
                <h1>Seguro que usted ha soliticado:</h1>
                <label for="nombreSeguro">Tu nombre:</label>
                <input class="txt" type="text" id="nombreSeguro" name="nombreSeguro" readonly value="<%= usuario[0].nombre + ' ' +usuario[0].apellido %>">

                <label for="fechaTransaccion">Usted ha comprado un seguro en la fecha:</label>
                <input class="txt" type="text" id="fechaTransaccion" name="fechaTransaccion" value="<%= consultTransaccion.rows[0].fechadetransaccion %>">
                <!--Etiqueta vacia-->
                <p id="etiquetaVacia"></p>
                <div class="pago__seguro">
                    <h2>Resumen de compra</h2>
                    <p>Total anual: <span id="totalAnualSeguro"><%= consultTransaccion.rows[0].monto %></span> MXN</p>
                    <p>Quedas protegido por <span id="proteccion">500,000</span> MXN</p>
                </div>
            <% } %>
        </div>
    </div>

    <script src="/static/Seguro/services.js"></script>
</body>

</html>