<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hola estos son tus datos de empleado</h1>
    <p>Nombre: <%= usuario[0].nombre %></p>
    <p>Apellido: <%= usuario[0].apellido %></p>
    <p>Correo: <%= usuario[0].correo %></p>
    <p>Telefono: <%= usuario[0].numerodetelefono %></p>
    <p>Sucursal: <%= usuario[0].sucursal %></p>
    <a href="/clientesEnSucursal">Ver clientes en mi sucursal</a>
  </body>
</html>
