<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar informacion de cliente</title>
  </head>
  <body>
    <h1>Editar cliente</h1>
    <!-- editarCliente.ejs -->

    <form method="POST" action="/actualizarCliente/<%= cliente.cliente_id %>" id="formupdate">
      <!-- Id imput descativadp-->
      <label for="nombre">Id Cliente:</label>
      <input type="text"
      name="id"
      value="<%= cliente.cliente_id %>"
      disabled> </input>

      <label for="nombre">Nombre de cliente :</label>
      <input type="text"
      name="nombre"
      value="<%= cliente.nombre %> <%= cliente.apellido %>"
      disabled> </input>
    

      


      <label for="direccion">Correo:</label>
      <input type="text"
      name="correo"
      value="<%= cliente.correo %>"> </input>


        <label for="telefono">Telefono:</label>
        <input type="text"
        name="telefono"
        value="<%= cliente.numerodetelefono %>"> </input>

        <label for="direccion">Direccion:</label>
        <input type="text"
        name="direccion"
        value="<%= cliente.direccion.calle %>"> </input>

 


      <!-- Agrega otros campos del cliente según sea necesario -->

      <button type="submit">Actualizar cliente</button>
    </form>

    <script src = "/static/edicionCliente/updateFetch.js"></script>
  </body>
</html>
