<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Add Bootstrap CDN link or download and include the Bootstrap CSS file -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container mt-4">
      <h2 class="mb-4">Historial De Transacciones</h2>
      <div class="table-responsive">
        <button id="download-pdf" class="btn btn-primary my-2">
          Descargar PDF
        </button>
        <table class="table table-bordered" id="transaction-table">
          <thead class="table-dark">
            <tr>
              <th>Transaction ID</th>
              <th>Date</th>
              <th>Transaction Type</th>
              <th>From Account</th>
              <th>To Account</th>
              <th>Amount</th>
              <th>Concept</th>
              <th>Account ID</th>
            </tr>
          </thead>
          <tbody>
            <% historial.forEach(transaction => { %>
            <tr>
              <td><%= transaction.transaccion_id %></td>
              <td>
                <%= transaction.fechadetransaccion.toISOString().split('T')[0]
                %>
              </td>
              <td><%= transaction.tipodemovimiento %></td>
              <td><%= transaction.cuentaorigen %></td>
              <td><%= transaction.cuentadestino %></td>
              <!-- Apply conditional classes based on transaction type -->
              <td
                class="<%= transaction.tipodemovimiento === 'Deposito' ? 'text-success' : 'text-danger' %>"
              >
                <%= transaction.monto %>
              </td>
              <td><%= transaction.concepto %></td>
              <td><%= transaction.cuenta_id %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Add Bootstrap JS and Popper.js if needed -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://rawgit.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>

    <script>
      $(document).ready(function () {
        // Agrega un evento de clic al botón de descarga
        $("#download-pdf").on("click", function () {
          // Convierte el contenido de la tabla a PDF
          var element = document.getElementById("transaction-table");
          html2pdf(element);
        });
      });
    </script>
  </body>
</html>
