<!DOCTYPE html>
<html lang="es">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="https://image.ibb.co/fOur3b/favicon.png" />
    <meta name="theme-color" content="#1885ed" />
    <title>Préstamo</title>
    <link rel="stylesheet" href="/static/format.css">
    <link rel="stylesheet" href="/static/Mas/otrosServicios.css" />
    <link rel="stylesheet" href="./public/css/dashboardStyles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"> 
    
</head>
 
<body>
    <header class="header">
        <div class="container2 header__container">
            <div class="header__logo">
                <img class="header__img" src="https://image.ibb.co/kcVou6/path3000.png" />
                <h1 class="header__title">
                    Banca<span class="header__light"> Facil</span>
                </h1>
            </div>
        </div>
    </header>

    <div class="container__nav">
        <div class="section1">
            <div class="subsec1">
                <div class="item0">
                    <i class="img bi bi-person-circle"></i>
                    <div class="data-user">
                        <p class="name">
                            <%= usuario[0].nombre %>
                        </p>
                    </div>
                </div>
                <div class="item1" id="item">
                    <i class="inactive bi bi-house"></i>
                    <a href="/perfil" class="inactive">Inicio</a>
                </div>
                <div class="item1" id="item">
                    <i class="inactive bi bi-credit-card"></i>
                    <a href="/pagos" class="inactive">Pagos</a>
                </div>
                <div class="item1" id="item">
                    <i class="inactive bi bi bi-cash-coin"></i>
                    <a href="/depositar" class="inactive">Depósitos</a>
                </div>
                <div class="item1" id="item">
                    <i class="inactive bi bi-bank"></i>
                    <a href="/retirar" class="inactive">Retiros</a>
                </div>
                <div class="item1" id="item">
                    <i class="inactive bi bi-lungs"></i>
                    <a href="/seguro" class="inactive">Seguro</a>
                </div>
                <div class="item1" id="item">
                    <i class="inactive bi bi-gear"></i>
                    <a href="/config" class="inactive">Configuración</a>
                </div>
            </div>
            <div class="subsec2">
                <div class="item2">
                    <i class="inactive bi bi-box-arrow-left"></i>
                    <a href="/logout" class="inactive">Cerrar sesión</a>
                </div>
            </div>
        </div>

        <!--Si es que NO tiene prestamo activo -->
        <div class="seccion__otros">
            <div class="container__otros">
            <% if(servicioPrestamo.rows.length === 0){ %>
                <h2 class="uppercase">Solicita un préstamo</h2>
            <form action="/solicitudPrestamo" method="post" id="prestamo-form">
                <label class="uppercase" for="nombre">Nombre:</label>
                <input class="txt__all" type="text" id="nombre" name="nombre" readonly
                    value="<%= usuario[0].nombre + ' ' +usuario[0].apellido %>">

                <label class="uppercase" for="monto">Monto solicitado:</label>
                <input class="txt__all" type="number" id="monto" name="monto" required
                    placeholder="Desde $3,000 a $1,500,000">

                <label class="uppercase" for="plazo">Plazo de pago:</label>
                <select class="txt__all" id="plazo" name="plazo" required>
                    <option value="3">3 meses sin intereses</option>
                    <option value="6">6 meses sin intereses</option>
                    <option value="9">9 meses sin intereses</option>
                    <option value="12">12 meses sin intereses</option>
                </select>
                <button class="btn__all btn__all--inside uppercase" type="submit" id="btnSubmitPrestamo">Enviar Solicitud</button>
            </form>
            <p id="mensajePrestamo"></p>

            <!--Si es que SI tiene prestamo activo -->
            <%} else if (servicioPrestamo.rows.length > 0 && servicioPrestamo.rows[0].nombredeservicio == 'Prestamo'){ %>
            <h2 class="uppercase">Aqui se muestra la solicitud de tu préstamo</h2>
                <label class="uppercase" for="nombre">Nombre:</label>
                <input class="txt__all" type="text" id="nombre" name="nombre" readonly
                    value="<%= usuario[0].nombre + ' ' +usuario[0].apellido %>">

                <label class="uppercase" for="monto">Monto solicitado:</label>
                <input class="txt__all" type="number" id="monto" name="monto" value="<%= servicioPrestamo.rows[0].saldo%>">

                <label class="uppercase" for="plazo">Plazo de pago:</label>
                
                <input class="txt__all" type="text" id="plazo" name="plazo" value="<%= servicioPrestamo.rows[0].fechadepago %>">
            <% } %>
            </div>

            <div class="container__otros">
                <!--En caso de NO tener una hipoteca-->
                <% if(servicioHipoteca.rows.length === 0){ %>
                <h2 class="uppercase">Solicitar un Préstamo Hipotecario</h2>
                <form action="/solicitudHipoteca" method="post" id="hipoteca-form"> 
                    <label class="uppercase" for="nombre_hipoteca">Nombre:</label>
                    <input class="txt__all" type="text" id="nombre_hipoteca" name="nombre_hipoteca" required readonly value="<%= usuario[0].nombre + ' ' +usuario[0].apellido %>">

                    <label class="uppercase" for="monto_hipoteca" >Monto solicitado:</label>
                    <input class="txt__all" type="number" id="monto_hipoteca" placeholder="Desde $30,000 a $10,500,000" name="monto_hipoteca" required>

                    <label class="uppercase" for="plazo_hipoteca">Plazo de pago:</label>
                    <select class="txt__all" id="plazo_hipoteca" name="plazo_hipoteca" required>
                        <option value="1">1 año</option>
                        <option value="2">2 años</option>
                        <option value="3">3 años</option>
                        <option value="4">4 año</option>
                        <option value="5">5 años</option>
                        <option value="6">6 años</option>
                        <option value="7">7 años</option>
                        <option value="8">8 años</option>
                        <option value="9">9 años</option>
                        <option value="10">10 años</option>
                        <option value="20">20 años</option>
                        <option value="30">30 años</option>
                    </select>

                    <label class="uppercase" for="propiedad_hipoteca">Propiedad:</label>
                    <select class="txt__all" id="propiedad_hipoteca" name="propiedad_hipoteca" required>
                        <option value="casa">Casa</option>
                        <option value="apartamento">Apartamento</option>
                        <option value="terreno">Terreno</option>
                    </select>

                    <button class="btn__all btn__all--inside uppercase" type="submit" id="btnSubmitHipoteca">Enviar Solicitud</button>
                </form>
                <p id="mensajeHipoteca"></p>

                <!--En caso de SI tener una hipoteca-->
                <% }else if(servicioHipoteca.rows.length > 0 && servicioHipoteca.rows[0].nombredeservicio === 'Hipoteca'){ %>
                <h2 class="uppercase">Aqui se muestra la solicitud de su Hipoteca</h2>
                    <label class="uppercase" for="nombreHipoteca">Nombre:</label>
                    <input class="txt__all" type="text" id="nombreHipoteca" name="nombreHipoteca" required readonly value="<%= usuario[0].nombre + ' ' +usuario[0].apellido %>">

                    <label class="uppercase" for="montoHipoteca" >Monto solicitado:</label>
                    <input class="txt__all" type="number" id="montoHipoteca" name="montoHipoteca" value="<%= servicioHipoteca.rows[0].saldo %>">

                    <label class="uppercase" for="plazoHipoteca">Plazo de pago:</label>
                    <input class="txt__all" type="text" id="plazoHipoteca" name="plazoHipoteca" value="<%= servicioHipoteca.rows[0].fechadepago %>">

                    <label class="uppercase" for="propiedadHipoteca">Tipo de propiedad hipotecada:</label>
                    <input class="txt__all" type="text" id="propiedadHipoteca" name="propiedadHipoteca" value="<%= servicioHipoteca.rows[0].concepto%>">
                <% } %>
            </div>
        </div>
    </div>

    <script src="/static/Mas/otrosServicios.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/Javascript/Home.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    
</body>

</html>